.vscode/
build/*
CMakeFiles/

*.cmake
**/CMakeCache.txt
**/Makefile
/.idea/.gitignore
/.idea/.name
/AndWeb.cbp
/.idea/AngWeb.iml
/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
